extends ../layout/auth.pug

block content 
    h2 Login
    form#login
        .mb-3
            label.form-label(for='exampleInputEmail1') Email address
            input#username.form-control(type='text' aria-describedby='emailHelp' name='username')
        .mb-3
            label.form-label(for='exampleInputPassword1') Password
            input#password.form-control(type='password' name='password')
        button.btn.btn-primary(type='submit') Submit
    button.btn.btn-warning(type='click')
        a(href="/auth/register" style="text-decoration: none; color: white") Register
block scripts
    script(src="../js/login.js")
    script(src="../js/public.js")