extends ../layout/main.pug

block content 
    h3 Noi bat hom nay
    ul
      each article in articles
        li 
           div 
              p 
                a(href="#")
                  strong #{article.title}
              p #{article.content}
              img(src=`${article.linkImg}`, alt="")
    button 
      a(href="/articles/new")  New