extends ../layout/main.pug

block content
    p Add new article
    form(action="/articles/" + article._id, method="post")
        input(type="hidden" name="_method" value="PUT")
        input(type="text" class="title" placeholder="title" name="title" value=article.title)
        input(type="text" class="content" placeholder="content" name="content" value=article.content)
        input(type="text" class="category" placeholder="category" name="category" value=article.category)

        button Update